[submodule "notion-hugo-deploy"]
	path = notion-hugo-deploy
	url = https://github.com/binbinsh/notion-hugo-deploy
[submodule "themes/hugo-trainsh"]
	path = themes/hugo-trainsh
	url = https://github.com/binbinsh/hugo-trainsh.git
