{{- $sourceLang := .Params.notion_source_language | default "" -}}
{{- $translationLang := .Params.notion_translation_language | default "" -}}
{{- $sourcePath := .Params.notion_source_path | default "" -}}
{{- if not (and $sourceLang $translationLang $sourcePath) -}}
{{-   return -}}
{{- end -}}
{{- if ne .Language.Lang $translationLang -}}
{{-   return -}}
{{- end -}}
{{- $sourcePage := false -}}
{{- range .AllTranslations -}}
  {{- if eq .Language.Lang $sourceLang -}}
    {{- $sourcePage = . -}}
  {{- end -}}
{{- end -}}
{{- if not $sourcePage -}}
  {{- $sourcePage = site.GetPage $sourcePath -}}
{{- end -}}
{{- $sourceLabel := $sourceLang -}}
{{- with $sourcePage -}}
  {{- with .Language.LanguageName -}}
    {{- $sourceLabel = . -}}
  {{- end -}}
{{- end -}}
{{- $href := $sourcePath -}}
{{- with $sourcePage -}}
  {{- $href = .RelPermalink -}}
{{- end -}}
{{- $style := resources.Get "translation/css/notice.css" | minify -}}
<style>{{- $style.Content | safeCSS -}}</style>
<aside class="translation-note" role="note">
  <strong>{{ i18n "translation_note_label" }}</strong>
  <span>
    {{ i18n "translation_from_prefix" }}
    <a href="{{ $href }}">{{ $sourceLabel }}</a>
    {{ i18n "translation_from_suffix" }}
  </span>
</aside>
