{{- $params := site.Params.upvote -}}
{{- if not ($params.enabled | default false) -}}
{{-   return -}}
{{- end -}}
{{- $discoverable := true -}}
{{- if isset .Params "make_discoverable" -}}
  {{- $discoverable = .Params.make_discoverable -}}
{{- end -}}
{{- if not $discoverable -}}
{{-   return -}}
{{- end -}}
{{- $slug := "" -}}
{{- with .TranslationKey -}}
  {{- $slug = printf "/__upvotes/%s" . -}}
{{- end -}}
{{- if not $slug -}}
  {{- with .Params.notion_id -}}
    {{- $slug = printf "/__upvotes/%s" . -}}
  {{- end -}}
{{- end -}}
{{- if not $slug -}}
  {{- $slug = strings.TrimSuffix "/" .RelPermalink -}}
{{- end -}}
{{- if not $slug -}}
{{-   return -}}
{{- end -}}
{{- $endpoint := or $params.endpoint "/api/upvote" -}}
{{- $info := or $params.infoEndpoint "/api/upvote-info" -}}
{{- $idSafe := md5 $slug -}}
{{- $formId := printf "upvote-form-%s" $idSafe -}}
{{- $style := resources.Get "upvote/css/widget.css" | minify -}}
{{- $script := resources.Get "upvote/js/widget.js" | minify -}}
<style>{{- $style.Content | safeCSS -}}</style>
<div class="upvote-widget" data-upvote data-slug="{{ $slug }}" data-endpoint="{{ $endpoint }}" data-info-endpoint="{{ $info }}" data-hint="{{ i18n "upvote_hint" }}" data-upvoted-title="{{ i18n "upvoted_title" }}">
  <form id="{{ $formId }}" action="{{ $endpoint }}" method="post" style="display: inline">
    <input hidden name="slug" value="{{ $slug }}">
    <input hidden name="title" value="{{ .Title }}">
    <input hidden name="permalink" value="{{ .RelPermalink }}">
    <input hidden name="dateISO" value="{{ .Date.Format "2006-01-02" }}">
    <button class="upvote-button" type="submit" title="{{ i18n "upvote_title" }}" aria-label="{{ i18n "upvote_count" }}">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
        <polyline points="17 11 12 6 7 11"></polyline>
        <polyline points="17 18 12 13 7 18"></polyline>
      </svg>
      <small class="upvote-count">&nbsp;</small>
    </button>
  </form>
</div>
<script>{{- $script.Content | safeJS -}}</script>
